{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dist/home.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">{{ title }}</h1>
        </div>

        Links:
        <ul>
            <li><a href="{{ path('bootstrap_legacy') }}">Bootstrap legacy</a></li>
            <li><a href="{{ path('bootstrap_esm') }}">Bootstrap ES modules</a></li>
            <li><a href="{{ path('bootstrap_react') }}">Boostrap React component</a></li>
            <li><a href="{{ path('form_react') }}">Form React</a></li>
        </ul>
    </div>
{% endblock %}
