{% extends 'base.html.twig' %}

{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">{{ title }}</h1>
            <p>Twig template + form as React component using React refs</p>
            <p><a href="{{ path('default') }}">Home</a></p>
        </div>
        <div class="card">
            <div class="card-body">
                <div id="task"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dist/bootstrap_legacy.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('dist/form_react_ref.js') }}"></script>
    <script type="text/javascript">
        window.childComponent.initState({{ data|raw }})
    </script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

